<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Sách</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>
    <section class="section-truyen-tranh container mt-5">
        <div class="contaier link-top d-flex">
            <a href="/" class="nav-link breadcrumbs_item-link">Trang Chủ</a>
            <p class="ms-4 me-4">></p>
            <a href="/truyen-tranh" class="nav-link breadcrumbs_item-link">Truyện Tranh</a>
            <p class="ms-4 me-4">></p>
            <a href="/truyen-tranh" class="nav-link breadcrumbs_item-link">Chi Tiết</a>
        </div>
    </section>


    <div class="row container">
        <div class="col-lg-8 row left">
            <div class="col-md-4 div_img">
                <img class="image-book" src="../assets/images/392-tu-duy-dot-pha-1.jpg" alt="image">
            </div>
            <div class="col-md-8">
                <p><b>Tên Sách :</b> Tư Duy Đột Phá</p>
                <p><b>Tác giả :</b> <a title="Tác giả Tezuka Osamu" href="/tac-gia/tezuka-osamu-8256/"
                        rel="dofollow">Tezuka Osamu</a></p>
                <p><b>Số Chap :</b> 26</p>
                <p><b>Số trang :</b> 527</p>
                <p><b>Định dạng :</b> Ảnh JPG</p>
                <p><b>Tình trạng :</b> Hoàn Thành</p>
                <p><b>Lượt xem/nghe :</b> 104</p>
                <p><b>Tạo lúc :</b> Sun, 02/06/2024 23:24</p>
                <p><b>Cập nhật lúc :</b> 23:28pm 02/06/2024</p>
            </div>
            <span class="line"></span>
            <div class="group-1 d-flex">
                <a href="/doc-sach" class="me-4">
                    <button type="button" class="btn-doc-sach">
                        <span><i class="fa fa-book pe-2"></i>Đọc Sách</span>
                    </button>
                </a>
                <a href="#">
                    <button type="button" class="btn-chuong">
                        <span><i class="fa fa-comments-o pe-2"></i>Trương Mới</span>
                    </button>
                </a>
                <a href="#" class="ms-4">
                    <button class="btn-animation-download btn-tai-sach">
                        <i class="animation"></i><span><i class="fas fa-download pe-2 icon"></i>Tải Về Đọc Cho
                            Đã</span><i class="animation"></i>
                    </button>
                </a>
            </div>
            <span class="line"></span>
            <div class="drop-gioi-thieu-book">
                <label for="drop-box">Giới thiệu nội dung sách &#8628;</label>
            </div>
            <input type="checkbox" id="drop-box" name="drop-box" class="d-none">
            <div class="text-book">
                <h2>Giới Thiệu Nội Dung Sách</h2>
                <p>
                    Cuốn sách Tư duy đột phá đã phân tích một cách rõ ràng và cụ thể về các lỗi tư duy thường gặp dễ
                    dàng trong cuộc sống và từ đó đã định hướng ra cách thay đổi những suy nghĩ sai lầm và giúp bạn có
                    một suy nghĩ khác tích cực hơn. Đôi khi chúng ta rất ngại phải thay đổi một điều gì đó. Một thói
                    quen hay hành động được thay đổi đã là rất khó, thay đổi thói quen tư duy còn là một thử thách lớn
                    hơn gấp nhiều lần. Nhưng nếu bạn kiên quyết thay đổi tư duy trong mọi việc thì bạn sẽ tạo nên một sự
                    khác biệt và vươn lên tầm cao mới. <br>

                    Tư duy đột Phá dựa trên 7 nguyên tắc cơ bản: <br>

                    1. Sự khác biệt độc đáo: Mỗi vấn đề là duy nhất và yêu cầu giải pháp duy nhất, tuyệt đối không bắt
                    chước. <br>
                    2. Nguyên tắc về triển khai mục đích: Tập trung vào mục đích và triển khai mục đích bằng câu hỏi
                    “Mục đích của mục đích, của mục đích… là gì”) để tìm ra mục đích sau cùng, mở rộng các chiều (không
                    gian, thời gian) để giải quyết vấn đề. <br>
                    3. Giải pháp tiếp theo : Định ra giải pháp tương lai để chỉ hướng cho giải pháp hiện tại, đặt nó
                    trong tổng thể của giải pháp lớn hơn.<br>
                    4. Thiết lập hệ thống : Xét giải pháp trong tổng thể.<br>
                    5. Thu thập thông tin có giới hạn : Có nhiều thông tin sẽ tạo nên kiến thức chuyên gia nhưng quá
                    nhiều thông tin chính là một cách hạn chế khả năng giải quyết vấn đề.<br>
                    6. Lôi kéo người khác tham gia : Tạo sự phấn khởi, kích thích và kêu gọi mọi người cùng tham gia vào
                    kế hoạch)<br>
                    7. Thay đổi và cải tiến liên tục : trong lúc đang hoàn thiện giải pháp mới, tiếp tục định ra giải
                    pháp tiếp theo để tính đổi mới được liên tục.
                </p>
                <div class="drop-gioi-thieu-book float-right">
                    <label for="drop-box" style="color: chocolate;">Thu Lại</label>
                </div>
            </div>
        </div>
        <div class="col-lg-4 right list-bai-viet">
            <h2>Bài viết</h2>
            <article class="mt-3">
                <a href="https://vnexpress.net/chang-trai-viet-day-nguoi-dan-chau-phi-trong-lua-nuoc-4753859.html"
                    target="_blank" class="nav-link">
                    <h6>Quang Linh Vlogs - chàng trai Việt dạy người dân châu Phi trồng lúa nước</h6>
                    <div class="d-flex bai-viet">
                        <div class="thum-art me-2">
                            <img src="https://i1-vnexpress.vnecdn.net/2024/06/04/435182734-941993961260746-3755-9115-2648-1717469805.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=PFtabwfK1atVwqRen4DpZQ"
                                alt="" width="150" height="autofocus">
                        </div>
                        <p style="font-size: 13px;">Nhận thấy người dân vùng quê Angola còn thiếu thốn, Quang Linh và
                            Team
                            châu
                            Phi dạy họ cách canh tác
                            lúa nước để góp phần xóa đói, giảm nghèo.</p>
                    </div>
                </a>
            </article>

            <article class="mt-3">
                <a href="https://vnexpress.net/chang-trai-viet-day-nguoi-dan-chau-phi-trong-lua-nuoc-4753859.html"
                    target="_blank" class="nav-link">
                    <h6>Quang Linh Vlogs - chàng trai Việt dạy người dân châu Phi trồng lúa nước</h6>
                    <div class="d-flex bai-viet">
                        <div class="thum-art me-2">
                            <img src="https://i1-vnexpress.vnecdn.net/2024/06/04/435182734-941993961260746-3755-9115-2648-1717469805.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=PFtabwfK1atVwqRen4DpZQ"
                                alt="" width="150" height="autofocus">
                        </div>
                        <p style="font-size: 13px;">Nhận thấy người dân vùng quê Angola còn thiếu thốn, Quang Linh và
                            Team
                            châu
                            Phi dạy họ cách canh tác
                            lúa nước để góp phần xóa đói, giảm nghèo.</p>
                    </div>
                </a>
            </article>

            <article class="mt-3">
                <a href="https://vnexpress.net/chang-trai-viet-day-nguoi-dan-chau-phi-trong-lua-nuoc-4753859.html"
                    target="_blank" class="nav-link">
                    <h6>Quang Linh Vlogs - chàng trai Việt dạy người dân châu Phi trồng lúa nước</h6>
                    <div class="d-flex bai-viet">
                        <div class="thum-art me-2">
                            <img src="https://i1-vnexpress.vnecdn.net/2024/06/04/435182734-941993961260746-3755-9115-2648-1717469805.jpg?w=220&h=132&q=100&dpr=1&fit=crop&s=PFtabwfK1atVwqRen4DpZQ"
                                alt="" width="150" height="autofocus">
                        </div>
                        <p style="font-size: 13px;">Nhận thấy người dân vùng quê Angola còn thiếu thốn, Quang Linh và
                            Team
                            châu
                            Phi dạy họ cách canh tác
                            lúa nước để góp phần xóa đói, giảm nghèo.</p>
                    </div>
                </a>
            </article>
        </div>
    </div>

    <section class="container row">
        <div class="col-md-8">
            <h5>Để lại bình luận</h5>
            <div class="line"></div>
            <h5>Địa chỉ email của bạn sẽ không được công bố. Các trường bắt buộc được đánh dấu <span
                    style="color: red;">(*)</span></h5>
            <form action="#">
                <label>Bình luận: <span style="color: red;">(*)</span></label><br>
                <textarea name="comment" id="comment" required placeholder="Để lại bình luận của bạn..."></textarea>

                <div class="row">
                    <div class="col-md-4 group mt-4">
                        <input required type="text" class="input-comment" name="ten-nguoi-comment"
                            id="ten-nguoi-comment">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="ms-2">Họ và tên <span style="color: red;">(*)</span></label>

                    </div>
                    <div class="col-md-4 group mt-4">
                        <input required type="text" class="input-comment" name="email-comment" id="email-comment">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="ms-2">Email<span style="color: red;">(*)</span></label>
                    </div>
                    <button type="submit" class="btn btn-comment">Đăng bình luận</button>
                </div>
            </form>


        </div>
        <div class="col-md-4"></div>

    </section>

    <div class="main-content">
        <h1>
            TỦ SÁCH TINH HOA<small>Được xây dựng nhằm mục đích phụng sự nhân loại phát triển về Tri thức và Trí
                tuệ</small></h1>
        <div class="moleskine-wrapper">
            <div class="moleskine-notebook">
                <div class="notebook-cover">
                    <a href="" class="nav-link">
                        <div class="notebook-skin">Trang Chủ<i class="ms-3 fas fa-home"></i></div>
                    </a>
                </div>
                <div class="notebook-page"></div>
            </div>
        </div>
        <div class="moleskine-wrapper">
            <div class="moleskine-notebook">
                <div class="notebook-cover blue">
                    <a href="/truyen-tranh" class="nav-link">
                        <div class="notebook-skin">Truyện Tranh <i class="ms-2 fas fa-image"></i></div>
                    </a>
                </div>
                <div class="notebook-page ruled"></div>
            </div>
        </div>
        <div class="moleskine-wrapper">
            <div class="moleskine-notebook">
                <div class="notebook-cover yellow">
                    <a href="" class="nav-link">
                        <div class="notebook-skin">Tác Giả <i class="ms-3 fa fa-group"></i></div>
                    </a>
                </div>
                <div class="notebook-page squared"></div>
            </div>
        </div>
        <div class="moleskine-wrapper">
            <div class="moleskine-notebook">
                <div class="notebook-cover green">
                    <a href="" class="nav-link">
                        <div class="notebook-skin">Giới Thiệu <i class="ms-2 fa fa-circle-info"></i></div>
                    </a>
                </div>
                <div class="notebook-page dotted"></div>
            </div>
        </div>
    </div>
</body>

</html>