<section class="section-truyen-tranh container mt-5">
    <div class="contaier link-top d-flex">
        <a href="/" class="nav-link breadcrumbs_item-link">Trang Chủ</a>
        <p class="ms-4 me-4">></p>
        <a href="/truyen-tranh" class="nav-link breadcrumbs_item-link">{{ currentName }}</a>
    </div>
</section>

<div class="demos row d-flex justify-content-center mb-5">
    <div class="col-md-2">
        <a href="#" class="nav-link">
            <div class="card">
                <div class="image-book">
                    <img src="../assets/images/15811-100-guong-phan-dau-cua-nguoi-doat-giai-nobel-1.jpg" alt="image"
                        class="img-book">
                </div>
            </div>
            <div class="name-book">
                <p>Tư Duy Đột Phá (Shozo Hibino)</p>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="#" class="nav-link">
            <div class="card">
                <div class="image-book">
                    <img src="../assets/images/392-tu-duy-dot-pha-1.jpg" alt="image" class="img-book">
                </div>
            </div>
            <div class="name-book">
                <p>Tư Duy Đột Phá (Shozo Hibino)</p>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#" class="nav-link">
            <div class="card">
                <div class="image-book">
                    <img src="../assets/images/15816-vi-sao-ban-ngheo-1.jpg" alt="image" class="img-book">
                </div>
            </div>
            <div class="name-book">
                <p>Tư Duy Đột Phá (Shozo Hibino)</p>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#" class="nav-link">
            <div class="card">
                <div class="image-book">
                    <img src="../assets/images/521-xay-dung-de-truong-ton-1.jpg" alt="image" class="img-book">
                </div>
            </div>
            <div class="name-book">
                <p>Tư Duy Đột Phá (Shozo Hibino)</p>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="#" class="nav-link">
            <div class="card">
                <div class="image-book">
                    <img src="../assets/images/15814-999-bi-quyet-vang-trong-kinh-doanh-1.jpg" alt="image"
                        class="img-book">
                </div>
            </div>
            <div class="name-book">
                <p>Tư Duy Đột Phá (Shozo Hibino)</p>
            </div>
        </a>
    </div>

    <div class="col-md-2">
        <a href="#" class="nav-link">
            <div class="card">
                <div class="image-book">
                    <img src="../assets/images/15811-100-guong-phan-dau-cua-nguoi-doat-giai-nobel-1.jpg" alt="image"
                        class="img-book">
                </div>
            </div>
            <div class="name-book">
                <p>Tư Duy Đột Phá (Shozo Hibino)</p>
            </div>
        </a>
    </div>
</div>